*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #191b1f;
    color: whitesmoke ;
}
body{
    width: 100%;
    height: 100%;
    background: #191b1f;
    color: whitesmoke ;
}
/* ------------------------------------différentes sections------------------------------------ */
header{
    z-index: 500;
}
.home{
    margin-top: 10vh;
  height: 90vh;
}
.presentation{
    height: 100%;
    margin-bottom: 70px;
}

.skills{
    height: 100%;
    margin-bottom: 70px;
}
.projects{
    height: 100%;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}
.contact{
    height: 100%;
    margin-bottom: 50px;
}
footer{
    height: 100%;
}
/* ------------------------------------menu de nav------------------------------------ */
.backgroundnav{
    z-index: 2;
    width: 100%;
    height: 10vh;
    position: fixed; 
    background: #191b1f94;
}
nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}
nav label, #toggle{
    display: none;
}

.logo{
    z-index: 3;
    margin-left: 4%;
    margin-top: 1%;
    width: 90px;
    height: 60px;
    position: absolute;
    top: 1%;
    left: 1%;
    position: fixed;
}
.main_menu{
    z-index: 4;
    position: fixed;
}
ul{
    display: flex;
    list-style-type: none;
}
li{
    padding: 20px;
}
li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
    position: relative;
    padding: 1rem 0 0.5rem;
}
    
li a:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background-color: gold;
    transition: transform 250ms;
}
    
li a:hover:after {
    transform: translateX(-50%) scaleX(1);    
}
    
li a:hover{
    color: gold;
    transition: ease 1s;
    /* text-decoration: underline; */
}
/*--------------------------------------Page d'accueil--------------------------------------*/

.home_avatar{
  height: 90vh;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.text_avatar{
    min-width: 400px;
}
.image_avatar img{
    width: auto;
    height: 550px;
    /* width: 650px;
    height: 550px; */
}
h6{
  font-size: 70px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 40px;
}
h7{
  font-size: 30px;
}
.para_home{
  font-size: 30px;
  margin-bottom: 0px;
}
.para2_home{
  color: whitesmoke;
  font-size: 15px;
}

/* ------------------------------------Sections presentation------------------------------------ */
.presentation h4{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
.presentation p{
    text-align: center ;
    font-size: 20px;
    line-height: 35px;
}
.presentation form{
  margin-top: 20px;
  text-align: center;
}
.presentation .box_cv img:hover{
    opacity: 0.8;
    transition: opacity 0.9s;
}

.click { /*LE STYLE DU TEXTE CLICK TO ZOOM*/
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    z-index: 10;
    color: rgb(30, 30, 30);
    font-size: 15px;
    opacity: 0; /*opacity 0 car le texte ne doit pas être affiché avant le hover*/
  }
  .box_cv:hover .click {
    opacity: 1; /*le texte passe à opacity 1 et devient visible*/
    transition: opacity 0.9s;
  }
  .box_cv {
    z-index: 0;
    display: flex; 
    justify-content: center;
    position: relative;
  }

  .modalCV{
    height: 500px;
    width: 800px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    overflow: auto;
    overflow: hidden;
    border: #e55743 solid 2px;
    border-radius: 1%;
    transition:  transform 200ms ease-in 50ms;
  }

 /* Style the Image Used to Trigger the Modal */
 #myImg {
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  }
    /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  /* Add Animation - Zoom in the Modal */
  .modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  } 


/* ------------------------------------Sections mes projets------------------------------------ */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    }
    
    .div1 { grid-area: 1 / 2 / 3 / 3; }
    .div2 { grid-area: 1 / 3 / 2 / 4; }
    .div3 { grid-area: 2 / 3 / 3 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }
    .div5 { grid-area: 2 / 4 / 4 / 5; }
    .div6 { grid-area: 3 / 3 / 4 / 4; }
    .div7 { grid-area: 3 / 2 / 4 / 3; } 
    
h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.case_images{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap : 5%;	
}

.bloc_projet{
    position: relative;
    /* margin-top: 35px; */
    /* transition: 1s;  */
    overflow: hidden;
}  


/* .bloc_image{
    margin-top: 0px;
    transition: 1s;
    overflow: hidden;
    height: 75%;
} */

.bloc_projet h3{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.images_projet{
    opacity: 1;
    width: 600px;
    height: 378px;
    min-height: 278px;
    backface-visibility: hidden;
    /* background-color: #333; */
    transition: 1s;
}

.images_projet_large{
    width: 600px;
    height: 800px;
    transition: 1s;
}

.hoverImage {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.textHoverImage{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.bloc_projet:hover img{
    transform: scale(1.12);
    opacity: 0.15;
}
.bloc_projet:hover .hoverImage {
    opacity: 1;
}
.bloc_projet:hover .textHoverImage {
    opacity: 1;
}
.text {
    /* background-color: #04AA6D; */
    color: white;
    font-weight: bold;
    font-size: 25px;
    /* padding: 16px 32px; */
}
.textHoverImage p span{
font-weight: bold;
}
.textHoverImage p{
    font-style: italic;
    font-size: 16px;
}



/* ------------------------------------Sections Compétences------------------------------------ */


.bothSide{
    width: 100%;
    display: flex;
    justify-content: center;
}
.leftSide{
    width: 100%;
}
.midside{
    width: 100%;
}
.rightSide{
    width: 100%;
}
.icon_skill{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.icon_skill ion-icon{
    font-size: 80px;
}
.margin_icon_skill{
    margin-top: 40px;
}

  

/* ------------------------------------Formulaire de contact------------------------------------ */
.map_formu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 50px;
}
.map_formu p{
    margin-top: 100px;
    font-size: 20px;
}
.map_formu a{
    text-decoration: none;
    color: whitesmoke;
}
.map_formu a:hover{
    color: gold;
}
.form-group{
    width: 400px;
}
.map_formu ion-icon{
    font-size: 25px;
}

/* ------------------------------------footer------------------------------------ */
.social{
    text-align: center;
}
footer ion-icon {
    color: whitesmoke;
    font-size: 30px;
    margin-left: 20px;
    transition: ease-in-out 0.5s;
  }
footer ion-icon:hover {
    color: gold;    
    transform: scale(1.20);
    transition: ease-in-out 0.5s;
}

/* ------------------------------------Jquery------------------------------------ */
#scrollUp
{   
position: fixed;
bottom : 10px;
right: -200px;
opacity: 0.5;
}

@media screen and (max-width:1920px){
    .images_projet{
        width: 400px;
        height: 278px;
    }
    .images_projet_large{
        width: 400px;
        height: 600px;
        transition: 1s;
    }
}

@media screen and (max-width: 991px)
    /* ------------------------------------nav------------------------------------ */

{
    header{
        height: auto;
    }
    .backgroundnav{
        display: none;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        position: initial;
        width: auto;
        height: 100px;
    }
    nav
    {
        height: auto;
        justify-content: center;
        margin-right: 0px;
        margin-top: 1%;
    }
    
    nav .main_menu 
    {
        z-index: initial;
        display: none;
        flex-direction: column;
        height: 220px;
        position: initial;

    }
    nav .main_menu ul {
        display: block;
        margin-top: 50px;
        text-align: center;
    }
    
    nav .main_menu li {
        padding: 5px;
    }

    #toggle:checked + .main_menu {
        display: flex;
        flex-direction: column;
    }
 
    nav label 
    {
        width: 30px;
        display: flex;
        font-size: 40px;
        color: whitesmoke;
        cursor: pointer;
        position: absolute;
        left: 45%;
    }
    
    /* ------------------------------------accueil------------------------------------ */

    .home{
        height: auto;
        margin-top: 100px;
    }
    .home_avatar{
        height: auto;
        margin-top: 50px;
    }
    .text_avatar{
        min-width: 0px;
    }
    .image_avatar img{
        width: 350px;
        height: 300px;
    }
    h7{
        font-size: 30px;
        text-align: center;
    }
    .home h6{
        text-align: center;
        font-size: 20px;
    }      

    .para_home{
        font-size: 15px;
    }
    .para2_home{
        font-size: 10px;
    }

        /* ------------------------------------présentation------------------------------------ */
        
        .presentation{
            margin-top: 40px;
        }
        .presentation p{
            font-size: 15px;
            line-height: 25px;
        }
        .click { /*LE STYLE DU TEXTE CLICK TO ZOOM*/
            display: none;
        }
        
        /* ------------------------------------skills------------------------------------ */
        .bothSide{
            flex-wrap: wrap;
        }
        /* ------------------------------------projects------------------------------------ */

        .images_projet{
            margin-bottom: 10px;
        }
        /* ------------------------------------Contact------------------------------------ */
        .contact h2{
            margin-bottom: 0px;
        }
        /* .map_formu{
            
        } */
        .map_formu p{
            margin-top: 20px;
            font-size: 20px;
        }
        .map_formu a{
            text-decoration: none;
            color: whitesmoke;
        }
        .map_formu a:hover{
            color: gold;
        }
        .form-group{
            width: 300px;
        }
        .map_formu ion-icon{
            font-size: 25px;
        }


}